:local(.step) {
    width: calc(100% - 0.2em);
    height: 100%;
    padding-right: 0.2em;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 1em;
    row-gap: 1em;

    > :local(.explain) {
        grid-column: 1 / 3;
    }

    > :local(.files) {
        align-self: flex-start;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.5em;
        width: fit-content;
        height: fit-content;
        max-height: 100%;
        overflow: auto;
        white-space: nowrap;
    }
}
