:local(.step) {
    width: calc(100% - 0.2em);
    height: 100%;
    padding-right: 0.2em;
    overflow: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;

    > :local(.files) {
        align-self: flex-start;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.5em;
    }
}
